@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;
    font-size:16px;
}

/* =============================================================
   GENERAL STYLES
 ============================================================ */

.hr-set {
    border-top:2px solid #fff;
    width:70%;
}
.hr-set01{
    border-top:2px solid #000;
    width:100%;
}
h3 {
    padding:15px 5px;
    font-weight:900;
    text-transform:uppercase;
}
h4 {
    padding:15px 5px;
    font-weight:900;
    text-transform:uppercase;
}
.icon-custom-1 {
	background-color: #fff;
	padding: 25px;
	border-radius: 10px;
	cursor:pointer;
}
.icon-custom-2 {
    margin-top: 50px;
    margin-bottom: -10px;
    background-color: #49CD7D;
	padding: 25px;
	border-radius:50%;
	width:100px;
	height:100px;
	cursor:pointer;
}
.icon-custom-1:hover {
    background-color: #000;
}
.icon-custom-2:hover {
    background-color: #000;
}
.color-1 {
    color: #49CD7D;
}
.color-2 {
    color: #fff;
}
.p-top-row {
    padding-top: 85px;
}   
.p-top-rr {
    padding-top: 85px;
}
.gephi {
    padding-top: 95px;
}
#jq{
    margin-top: 0px;
}
.javas{
    padding-top: 45px;
}
.socilab{
    margin-top: 0px;
}
.jquery{
    width: 350px;
    height: 315px;
}
.linkedin{
    padding-top: 40px;
}
#new-about p{
    text-align: justify;
}
#p-new{
    margin-top: -10px;
}
.img-rounded {
    border-radius: 6px;
    margin-top: 10px;
}
#soci-im{
    margin-top: 0px;
    padding-top: 0px;
}
#img-03{
    margin-top: 135px;
}
 /* =============================================================
   MENU STYLES 
 ============================================================ */
.navbar{
	border-radius:0px;
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-brand:hover {
	color: #FFF;
	font-size: 26px;
	letter-spacing: 5px;
	font-weight: 900;
	background-color: rgba(16, 16, 16, 0);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: rgba(16, 16, 16, 0);
}
.navbar-inverse {
	border-color: rgba(16, 16, 16, 0);
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 0px;
}
.set-links {
    padding: 15px 20px 10px 20px;
}
.navbar-inverse .navbar-nav > li > a {
    color:#fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color:rgba(20, 152, 152, 1); 
}

.nav-tools {
    padding-top: 0px;
    height: 100px;
}
.active-menu-item {
    color:rgba(20, 152, 152, 1)!important;
}
.efeito-ativo{
    color:rgba(20, 152, 152, 1)
}
.display{
    display: inline-block; 
}
.navbar-brand small {
    font-size:26px;
    font-weight:normal;
    letter-spacing:1px;
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */

.social-links a,.social-links a:hover{
    color:#fff;
    text-decoration:none;
}

.social-links a i {
    background-color:#000;
    padding:15px 15px;
    margin:5px;
}
.copy-txt {
    background-color:#202020;
    padding:15px;
    color:#7C7C7C;
}

.set-foot {
    text-align:right;
    padding-right:50px;
}

#btn-topo{
    background-color: #000;
    padding: 15px 15px;
    margin: 5px;
    border: none;
    padding-top: 20px;
    margin-top: 30px;
    /* border: 2px solid #fff; */
    width: 280px;
    border-radius: 10px;
    outline: none;
}
#btn-topo a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
/* =============================================================
   PAGE HEADLINE STYLES
 ============================================================ */
.headline-sec {
    background: url(../img/header.jpg) no-repeat center center;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size:cover;
	color:#fff;
    margin-top: -20px;

}
.overlay {
    background-color: rgba(20, 152, 152, 0.9);
    min-height: 40px;
}
.headline-sec h3 {
    padding-top: 100px;
    font-weight: 900;
    padding-left: 220px;
}
.section-about{
    background-color: #222;
    margin-top: 100px;
}
.section-about h3 {
    font-size: 40px;
    text-align: left;
    font-weight: 500;
    color: #fff;
}
.section-about h3 i{
    padding-left: 10px;
}
.section-about a{
    color: white;
    text-decoration: none;
}
.section-about a:hover{
    color: #EFEFEF;
}

#net-img {
    margin-top: 10px;
    height: 300px;
    /* width: 376px; */
}
/* =============================================================
   HOME SECTION STYLES -IN HOME / INDEX.HTML 
 ============================================================ */
#home-sec {
    background: url(../img/header.jpg) no-repeat center center;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size:cover;
	color:#fff;
	margin-top: -60px;
}

#home-sec .overlay {
    background-color:rgba(20, 152, 152, 0.9);
    min-height:350px;
}
#index-overlay{
    margin-top: 60px;
}
#home-sec h1 {
    padding-top:100px;
    font-size: 48px;
	transition-duration: 1s;
}
#home-sec h2 {
    transition-duration: 1s;
    color: #fff;
}
#home-sec .ativo{
	font-size: 72px;
}
#home-sec p {
    padding:10px;
}
/* =============================================================
   SEARCH DOMAIN SECTION STYLES  -IN HOME / INDEX.HTML 
 ============================================================ */
#search-domain {
    background: url(../img/header.jpg) no-repeat center center;
    background-size: cover;
    -moz-background-size: cover;
    /* margin-top: -20px; */
    padding: 0;
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
    margin-top: -20px;
    /* margin-bottom: -120px; */
    background-color: rgba(20, 152, 152, 0.9);
    /* background-image: url(../img/header.jpg); */
}
#push-input{
    padding-top: 100px;
}
#search-domain .overlays {
    background-color:rgba(20, 152, 152, 0.9);
    height:400px;
}
.input-cls {
    height: 30px;
    width: 600px;
    margin-top: -55px;
    margin-left: 220px;
    font-size: 28px;
    padding-top: 8px;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: #31b0d5;
    padding-bottom: 35px;
    position: absolute;
}
.input-cl {
    height: 0px;
    width: 600px;
    font-size: 22px;
    padding-top: 8px;
    font-family: sans-serif;
    border-radius: 0px;
    background-color: #d9534f;
    padding-bottom: 35px;
    position: absolute;
    margin-top: -55px;
    margin-left: 220px;
}
.btn-set {
    font-size:22px;
/*  border: 5px double #fff; */
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
}
#drop-menu li a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}
#dropou-menu li a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}
#drop-menu li a:hover{
    color: black;
}
#dropou-menu li a:hover{
    color: black;
}
#pesquisar01{
    /* text-align: center; */
    padding-right: 28px;
    font-size: 22px;
    width: 825px;
    margin-top: 27px;
    /* margin-left: -87px; */
    margin-bottom: 65px;
    border-radius: 5px;
    border-radius: 5px;
}
#pesquisar01 a{
    text-decoration: none;
    color: #fff;
}
#pesquisar01 a:hover{
    color: #fff;
}
#pesquisar{
    /* position: absolute; */
    text-align: center;
    font-size: 22px;
    width: 70%;
    margin-top: 90px;
    margin-bottom: -65px;
}
#pesquisar a{
    text-decoration: none;
    color: #fff;
}
#pesquisar a:hover{
    color: #fff;
}
/* =============================================================
   CLIENT TESTIMONIAL SECTION STYLES  -IN HOME / INDEX.HTML 
 ============================================================ */
#clients-sec {
    transition: 0.8s; 
}
#testimonial-sec h1{
    color: #000;
    font-size: 55px;
    font-weight: 900;
    padding: 20px;
    transition-duration: 1s;
}
#testimonial-sec .effect{
    font-size: 72px;
    padding: 40px;
}
#indicators i {
    font-size: 100px;
    /* margin-top: 62px; */
    padding-top: 80px;
    color: white;
}
#clients-sec.efeito{
	margin-top: 400px;
    transition-duration: 1s; 
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 350px;
}
.owl-item{
    /*width: 1170px*/;
}
#clients-sec{
    margin-top: 175px;
}
#new-about{
    margin-top: 80px;
}
#ferramentas-new {
    background-color: #222;
    margin-bottom: 120px;
    margin-top: 80px;
}
#ferramentas-new h3 {
    font-size: 40px;
    text-align: left;
    font-weight: 500;
    color: #fff;
}
#ferramentas-new h3 i{
    padding-left: 10px;
}
#ferramentas-new a{
    color: white;
    text-decoration: none;
}
#ferramentas-new a:hover{
    color: #EFEFEF;
}
/* =============================================================
   FEATURES SECTION STYLES  -IN HOME / INDEX.HTML 
 ============================================================ */
#features-sec {
    background-color:#EFEFEF;
}
#search-domain a input{

}
/* ================================================ 

    LIST OF TOOLS - IN TOOLS.HTML

 ============================================================ */
#new-demand{
    background-image: url("../img/assets.png");
}
#new-demand li.asset-01{
    background-position: 0px;
}
.list-tools {
    margin-left: -75px;
    margin-top: 20px;
}
.list-tools li {
    display: inline-block;
    font-size: 25px;
    /* letter-spacing: 5px; */
    /* font-weight: 900; */
    padding-left: 95px;
    /* margin-left: -10px; */
}
#ul-listtools {
    margin-left: -30px;
}
.list-tools li a {
    color: #fff;
}
.list-tools li a:hover{
    color: #000;
}
.hr-tools {
    border-top: 2px solid #fff;
    /* background-color: white; */
    max-width: 1015px;
}
#tools {
    margin-top: 0;
}
#tools p{
    text-align: justify;
}
#top-menu{
    color: #fff;
}

/* =============================================================
   SEARCH.PHP CSS ELEMENTS
 ============================================================ */

#graph{
    height: 650px;
    border:1px solid #ccc;
    margin-right: 10px;
}
#info-autores{
    border-left:2px solid #fff;  
}
#info-autores .hr-setup{
    border-top: 2px solid #000;
    margin-left: -16px;
    width: 100%;
}
#info-autores .hr-setup1{
    border-top: 2px solid #ccc;
    margin-left: -16px;
    width: 100%;
}
#info-autores a{
    text-decoration: none;
    font-size: 22px;
    color: #000;
}
#info-autores a:hover{
    color:rgba(20, 152, 152, 1); 
}
#info-autores .fa-angle-double-right{
    margin-right: 10px;
    margin-left: 0px;
}
#info-autores .fa-arrow-right{
    margin-right: 10px;
    margin-left: 0px;
}
#info-autores li{
    padding-left: 0px;
}
#info-autores i{
    padding-left: 0px;
}
#informations{
    padding-bottom:30px;
    padding-top:30px;
    color: #DFD1D1;
    margin-top: 120px;
    background-color: #fff;
}
#informations h1{
    font-weight: 800;
    color: black;
}
#arrow-right{
    margin-top: 20px;
}
#star01{
    position: absolute;
    margin-left:10px;
/*    margin-top: 0px; */
    font-size: 30px;
}
#articles-authors{
    background-color:#EFEFEF;
    height: 350px;
}
#articles-authors h1{
    color: #000;
    text-transform: uppercase;
    font-size: 64px;
    margin-top: 100px;
}
#articles-authors small{
    font-size: 24px;
    display: block;
    font-style: italic;
}
#articles-authors .col-md-3{
    margin-top: 20px;
    border-left: 2px solid #000;
}
.hr-ss{
    border-top: 4px solid #000;
    margin-left: -16px;
    width: 100%;
    transform: rotate(180deg);
}
.hrr{
    border-top: 2px solid black;
    margin-left: -16px;
    margin-top: -20px;
    width: 100%;
}
.hrt {
    border-top: 1px solid #000;
    margin-left: 0;
    margin-top: 0px;
    width: 100%;
}
#articles-authors a{
    font-size: 16px;
    text-decoration: underline;
    text-decoration: none;
    color: #000;
}
#articles-authors a:hover{
    color: #121212;
}
.label{
    font-size: 20px;
}
#labels a{
    text-decoration: none;
}
.grafo .col-md-4{
    border: 2px solid #ccc; 
    height: 650px;
    background: #EFEFEF;
}
/* =============================================================
   SEARCH.PHP ADD CLASSES
 ============================================================ */

#labels.change{
    font-size: 24px;
}
/* -mudanças Raul */
/* -Até 768px executa essa parte do codigo */
@media screen and (max-width: 991px){

#assets-img{
    margin-left: px;
    margin-top: -70px;
}
#drop{
	width: 100%;
}
#dropou{
	width: 100%;
}
#drop p{
    font-size: 18px;
    color: #fff;
    
}
#drop li{
	height: 50px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #31b0d5;
}
#dropou p{
    font-size: 18px;
    color: #fff;
    /*font-family: 'OpenSans-Light';*/
}
#dropou li{
    height: 50px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #d9534f;
}
#drop ul{
   
    transition-duration: 5s;    
}
#dropou ul{
    transition-duration: 5s;    
}
.bloco1{
	margin-top:40px;
}
.bloco2{
	margin-top:30px;
}
.bloco3{
	margin-top:50px;
}
.bloco1 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco2 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}

.bloco1 button, .bloco2 button{
	background-color:;
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.grafo .col-md-4{
    border: 2px solid #ccc;
    margin-left: 10px;
    height: 650px;
    width: 80%;
    margin-left: 38px;
}
.grafo .col-md-4 h1{
    text-align: center;
}
.grafo .col-md-4 h3{
    text-align: center;
    padding-top: 30px;
}
.bloco1 button:hover, .bloco2 button:hover, .bloco3 button:hover{
	
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco3 button{
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top:30px;
}
.grafo{
	margin-top:30px;
}
#graph{
	height:555px;
    width: 80%;
    margin-left: 38px;
}
.grafico{
	margin-top:20px;
	padding:5px;
	height:300px;
	
	}

.grafico h2{
	color:#333;
	font-weight:800;
	
}
.best-autor{
	margin-top:20px;
	height:300px;
	
}	
.best-autor h2{
	color:#333;
	font-weight:800;
	padding-left:5px;
}
#articles-authors{
	margin-top:30px;
    height: 875px;
}
#articles-authors #available{
	margin-top:-50px;
	margin-left:30px;
}
#articles-authors .autor{
	margin-left:30px;
    border: none;
}
#articles-authors .artigo{
    margin-left:30px;
    border: none;
}
#articles-authors .autor h3{
    text-align: center;
}
#articles-authors .artigo h3{
    text-align: center;
}
#labels{
	margin-top: 20px;
    padding-top: 70px;
}
#informations .col-md-8{
    margin-bottom: 300px;
}
#footer-sec {
    background-color:#121212;
    padding-top:30px;
    margin-top:0px;
    color: #DFD1D1;
}
#footer-sec p{
    text-align: justify;
}
	
}
@media screen and (min-width: 992px) and (max-width: 1149px) {
#assets-img{
    margin-left: px;
    margin-top: -100px;
}
#drop{
	width: 100%;
}
#dropou{
	width: 100%;
}
#drop p{
    font-size: 18px;
    color: #fff;
    
}
#drop li{
	height: 50px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #31b0d5;
}
#dropou p{
    font-size: 18px;
    color: #fff;
    /*font-family: 'OpenSans-Light';*/
}
#dropou li{
    height: 50px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #d9534f;
}
#drop ul{
    
    transition-duration: 5s;    
}
#dropou ul{
    transition-duration: 5s;    
}	
.grafico{
	
	width:350px;
	height:300px;
	float:right;
	margin-left:;
	}
.grafico h2{
	color:#333;
	font-weight:800;
	padding-left:20px;
	
	
}
.best-autor{
	
	float:right;
	margin-top:20px;
	width:350px;
	height:300px;
	
	}
.best-autor h2{
	color:#333;
	font-weight:800;
	padding-left:20px;
}

#pesquisar1{
	margin-top:95px;
}

.bloco1{
	margin-top:30px;
}
.bloco2{
	margin-top:40px;
}
.bloco3{
	margin-top:5px;
}
.bloco1 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco2 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco1 button, .bloco2 button{
	background-color:;
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco1 button:hover, .bloco2 button:hover, .bloco3 button:hover{
	
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco3 button{
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top:30px;
}
.keyword{
	margin-top:50px;
}
#footer-sec {
    background-color:#121212;
    padding-top:30px;
	margin-top:50px;
    color: #DFD1D1;
}
#footer-sec p{
    text-align: justify;
}


	
}
/*Acima de 1150px executa essa parte do codigo*/
@media screen and (min-width: 1150px) and (max-width: 1319px) { 
#assets-img{
    margin-left: px;
    margin-top: -100px;
}
#drop{
	width: 100%;
}
#dropou{
	width: 100%;
}
#drop p{
    font-size: 18px;
    color: #fff;
    
}
#drop li{
	height: 50px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #31b0d5;
}
#dropou p{
    font-size: 18px;
    color: #fff;
    /*font-family: 'OpenSans-Light';*/
}
#dropou li{
    height: 50px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #d9534f;
}
#drop ul{
    
    transition-duration: 5s;    
}
#dropou ul{
    transition-duration: 5s;    
}
.grafico{
	
	width:450px;
	height:300px;
	float:right;
	margin-left:;
	}
.grafico h2{
	color:#333;
	font-weight:800;
	padding-left:20px;
	
	
}
.best-autor{
	
	float:right;
	margin-top:20px;
	width:450px;
	height:300px;
	
	}
.best-autor h2{
	color:#333;
	font-weight:800;
	padding-left:20px;
}

#pesquisar1{
	margin-top:95px;
}

.bloco1{
	margin-top:30px;
}
.bloco2{
	margin-top:40px;
}
.bloco3{
	margin-top:5px;
}
.bloco1 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco2 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco1 button, .bloco2 button{
	background-color:;
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco1 button:hover, .bloco2 button:hover, .bloco3 button:hover{
	
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco3 button{
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top:30px;
}
.keyword{
	margin-top:50px;
}
#footer-sec {
    background-color:#121212;
    padding-top:30px;
	margin-top:50px;
    color: #DFD1D1;
}
#footer-sec p{
    text-align: justify;
}


}

/* maior que 1320px ate 1420px executa essa parte do codigo */
@media screen and (min-width: 1320px) and (max-width: 1420px){ 
#assets-img{
    margin-left: px;
    margin-top: -100px;
}
#drop p{
    font-size: 18px;
    color: #fff;
    
}
#drop li{
	height: 50px;
    width: 1138px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #31b0d5;
}
#dropou p{
    font-size: 18px;
    color: #fff;
    /*font-family: 'OpenSans-Light';*/
}
#dropou li{
    height: 50px;
    width: 1138px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #d9534f;
}
#drop ul{
   
    transition-duration: 5s;    
}
#dropou ul{

    transition-duration: 5s;    
}
.grafico{
	width:450px;
	height:300px;
	float:right;
	
	}
.grafico h2{
	color:#000;
	font-weight:800;
	padding-left:20px;
	
	
}
.best-autor{
	float:right;
	margin-top:0px;
	width:450px;
	height:300px;
	
	}
.best-autor h2{
	color:#000;
	font-weight:800;
	padding-left:20px;
}
.grafo{
	
}
.teste{
	width:770px;
}
#pesquisar1{
	margin-top:95px;
}

.bloco1{
	margin-top:30px;
}
.bloco2{
	margin-top:40px;
}
.bloco3{
	margin-top:5px;
}
.bloco1 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco2 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco1 button, .bloco2 button{
	background-color:;
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco1 button:hover, .bloco2 button:hover, .bloco3 button:hover{
	
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco3 button{
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top:30px;
}
.keyword{
	margin-top:50px;
}
#footer-sec {
    background-color:#121212;
    padding-top:30px;
	margin-top:80px;
    color: #DFD1D1;
}
#footer-sec p{
    text-align: justify;
}
}

@media screen and (min-width: 1421px){ 
#assets-img{
    margin-left: px;
    margin-top: -100px;
}
#drop{
	width: 100%;
}
#dropou{
	width: 100%;
}
#drop p{
    font-size: 18px;
    color: #fff;
    
}
#drop li{
	height: 50px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #31b0d5;
}
#dropou p{
    font-size: 18px;
    color: #fff;
    /*font-family: 'OpenSans-Light';*/
}
#dropou li{
    height: 50px;
    margin-top: 2px;
    font-size: 22px;
    border-radius: 0px; 
    text-align: center;
    background-color: #d9534f;
}
#drop ul{
    transition-duration: 5s;    
}
#dropou ul{
    transition-duration: 5s;    
}
.grafico{
	width:650px;
	height:300px;
	float:left;
}
.grafico h2{
	color:#000;
	font-weight:800;
	padding-left:20px;
	
	
}
.best-autor{
	float:right;
	margin-top:0px;
	width:650px;
	height:300px;
	
	}
.best-autor h2{
	color:#000;
	font-weight:800;
	padding-left:20px;
}
.grafo{
	
}
.teste{
	width:1024px;
}
#pesquisar1{
	margin-top:95px;
}

.bloco1{
	margin-top:30px;
}
.bloco2{
	margin-top:40px;
}
.bloco3{
	margin-top:5px;
}
.bloco1 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco2 p{
	font-weight:500;
	font-size:22px;
	text-align:center;
	color:#fff;
}
.bloco1 button, .bloco2 button{
	background-color:;
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco1 button:hover, .bloco2 button:hover, .bloco3 button:hover{
	
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
  
}
.bloco3 button{
	border-radius:0px;
	color:#fff;
	text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top:30px;
}
.keyword{
	margin-top:50px;
}
#footer-sec {
    background-color:#121212;
    padding-top:30px;
	margin-top:80px;
    color: #DFD1D1;
}
#footer-sec p{
    text-align: justify;
}




